
div>p
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;

    line-height: 40px;
    opacity: 0.89;
    margin-top: 1%;
    margin-bottom:1%;

    float: left;
    clear: both;
}
div>p:nth-child(1)
{
    transform: translate(20px, 30px);
        background-color: black;
        color: white;
}
div>p:nth-child(2)
{
    transform: translate(20px, 30px);
        background-color: red;
}
div>p:nth-child(3)
{
    transform: rotate(30deg);
        background-color: pink;
}

div>p:nth-child(4)
{
    transform: scale(1.3, 0.7);
        background-color: orange;
}

div>p:nth-child(5)
{
    transform: skew(30deg, 20deg);
        background-color: blue;
}

