body
{
    background-color: #fcdef1;
    color: #6a31b0;
}
.box /* div */
{
    padding:20px;
    border: solid 1.8px #a18d9a;
    margin:0px;
    background-color: #e8ccde;
    padding: 15px; /* div 박스 내부 공간 크기*/
    margin-bottom: 10px; /* div 박스와 박스들의 간격 (아래쪽 마진) */
    border-radius: 8px;
}
.no_bullet
{
    list-style: none;
}
.no_margin
{
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.fin
{
    font-style: italic;
    font-weight: bold;
}
#hobbyButton
{
    background-color: rgb(136, 58, 209);
    color: #30184e;
    border: none;
    padding: 10px 16px; /* 수직 여백, 수평 여백 */
    border-radius: 8px;
    cursor: pointer; /* 버튼 위에 호버시 누르는 커서 모양으로 바뀌게함 */
}
#hobbyButton:hover
{
    background-color: rgb(190, 120, 255);
}
.hidden
{
    display: none;
}
.noList
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.buttonSpan
{
    display: block;
}






























