p
{
    padding: 0;
}


img
{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border: none;
    padding: 0;
}
figcaption
{
    line-height: 1;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
div img:hover
{
    cursor: pointer;
}
div>p:nth-child(1)>img:hover
{
    opacity: 65%;
}
div>p:nth-child(2)>img:hover
{
    opacity: 50%;
}
