
div
{
    margin-bottom: 10px;
}
fieldset
{
    width: 300px;
}
label
{
    text-align: right;
    display: inline-block;
    width: 100px;
}
#slider
{
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border: 1px solid;
    border-radius:8px;
    height: 3px;
    width: 170px;
}
#slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 10px;
    height: 22px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 2.5px;
}
.submit-wrapper
{
    padding: 5px;
    width: 50px;
    cursor: pointer;
}
