body {
    /* background-image: url(../images/heart2.gif); */
    /* background-repeat: no-repeat; */
    /* background-position: right top; */
    
    /* background-attachment: fixed; */
    /* 한 줄에 모든 속성을 정의한다. */
    /* background : 색상 이미지경로 반복여부 위치 스크롤여부; */
    background: url(../images/heart2.gif) no-repeat right top fixed;
    background-size: 200px;


}


.linear>p {
    width: 200px;
    height: 100px;
    border: 1px solid red;
    display: inline-block;
    vertical-align: top;
} 

.linear>p:nth-child(1) {
    background-image: linear-gradient(red,yellow);
}

.linear>p:nth-child(2) {
    background-image: linear-gradient(45deg,red,yellow,green);
}

.linear>p:nth-child(3) {
    background-image: linear-gradient(to left,red,yellow,green);
}

.linear>p:nth-child(4) {
    background-image: linear-gradient(45deg,red 50%,yellow,green);
}


.radial>p {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid red;
    vertical-align: top;
    margin-right: 10px;
    /* border-radius: 100px; */
}

.radial>p:nth-child(1) {
    background-image: radial-gradient(circle, white, red);
}

.radial>p:nth-child(2) {
    background-image: radial-gradient(circle at 30px 80px, white, red);
}

.radial>p:nth-child(3) {
    /* width:200px;
    height:100px; */
    background-image: radial-gradient(white, red);
}

.repeat>span {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display: inline-block;
    background-image: url(../images/cycle.png);
}


.repeat>span:nth-child(2) {
    background-repeat: no-repeat;
}

.repeat>span:nth-child(3) {
    background-repeat: repeat-x;
}

.repeat>span:nth-child(4) {
    background-repeat: repeat-y;
}

.position>p {
    width: 200px;
    height: 200px;
    background-image: url(../images/sun.jpg);
    display: inline-block;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border: 1px solid red;
}

.position>p:nth-child(1) {
    background-position: left center;
}

.position>p:nth-child(2) {
    background-position: right bottom;
}

.position>p:nth-child(3) {
    background-position: 50% 50%;
}

.position>p:nth-child(4) {
    background-position: 0% 100%;
}

.size {
    padding: 0;
}

.size>li {
    list-style: none;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid red;
    background-image: url(../images/trip.jpg);
    vertical-align: top;
}