body {
	background-image : url('../images/image.png');
	background-color : green;
	margin-left : 200px;
	background-repeat:no-repeat;
}	

div {
	background-color : yellow;
	border : 6px dotted red;
	padding:10px;
}